<!DOCTYPE html>
<html lang="en">
<!-- Head Tag Include -->
<%- include("../partials/head-tag-partial.ejs") %>
<!-- Head Tag Include -->

<!-- Header Include -->
<%- include("../partials/header-partial.ejs") %>
<!-- Header Include -->

<body class="d-flex flex-column min-vh-100">
    <div id="app">
        <div class="container self-font-family mb-5">
                <!-- Book Template -->
            <div class="row">
                <% for (let i=0; i<cart.length; i++) { %>
                    <div class="col-12 mt-5">
                        <div class="card mx-5 h-100">
                            <div class="card-body d-flex flex-column">
                                <div class="row">
                                    <div class="col-3">
                                        <img class="rounded w-50" src="<%= cart[i].image %>">
                                    </div>
                                    <div class="col-9 m-left">
                                        <!-- Book Description -->
                                        <form method="POST" action="/deletecart">
                                            <div class="card-body">
                                                <input type="hidden" name="id" value="<%= cart[i].id %>">
                                                <h5 class="card-title text-dark fw-bold mt-2">
                                                    <%= cart[i].name %> 
                                                </h5>
                                                <p class="btn bg-warning mt-3">
                                                    <span class="text-white">
                                                        <%= parseInt(cart[i].price) %> ฿
                                                    </span>
                                                </p>
                                                <button class="btn btn-danger">ลบ</button>
                                            </div>
                                        </form>
                                    
                                        <!-- Book Description -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
                <% if (cart.length != 0) { %>
                    <div class="col-9"></div>
                    <div class="col-3 mt-5">
                        <div class="card mx-5 h-100">
                            <div class="card-body d-flex flex-column">
                                <div class="row">
                                    <div class="col-12">
                                        <form method="POST" action="/buy">
                                            <div class="card-body">
                                                <a class="text-decoration-none" href="#">
                                                    <h5 class="card-title text-dark fw-bold mt-2">
                                                        รวม: {{ summary }} ฿
                                                    </h5>
                                                </a>
                                                <div class="card px-3 py-2 me-3">
                                                    <span class="text-dark text-start">
                                                        ดาวสะสม
                                                    </span>
                                                    <h4 class="text-end text-warning">
                                                        {{ userPoint }} <i class="fa-solid fa-star"></i>
                                                    </h4>
                                                </div>
                                                <label class="py-2">
                                                    <input v-model="isUseStar" type="checkbox">
                                                    ใช้ดาวสะสม ?
                                                    <span v-show="isUseStar">
                                                        <input name="point" class="form-control" v-model="useStar" type="number" placeholder="ใส่จำนวนดาว">
                                                    </span>
                                                </label>
                                                
                                                <button class="btn btn-primary">ยืนยันการสั่งซื้อ</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
            <!-- Book Template -->
        </div>
    </div>

    <!-- Footer Include -->
    <%- include("../partials/footer-partial.ejs") %>
    <!-- Footer Include -->

</body>

<!-- Vue Include -->
<%- include("../vues/cart-vue.ejs") %>
<!-- Vue Include -->

</html>