<!DOCTYPE html>
<html lang="en">
<!-- Head Tag Include -->
<%- include("../partials/head-tag-partial.ejs") %>
<!-- Head Tag Include -->

<!-- Header Include -->
<%- include("../partials/header-partial.ejs") %>
<!-- Header Include -->

<body class="d-flex flex-column min-vh-100">
    <div id="app">
        <input id="id" type="hidden" value="<%= userData.id %>">
        <div class="container self-font-family mb-5">
            <div class="row">
                <div class="col-4 mt-5" v-for="book in bookList">
                    <div class="card mx-5 h-100">
                        <div class="card-body d-flex flex-column">
                            <!-- Book Cover -->
                            <a href="#">
                                <img class="card-img-top rounded" :src="book.book_data[0].cover_img">
                            </a>
                            <!-- Book Cover -->

                            <!-- Book Description -->
                            <div class="card-body">
                                <a class="text-decoration-none" href="#">
                                    <h5 class="card-title text-dark fw-bold mt-2">
                                        {{  book.book_data[0].name }}
                                    </h5>
                                </a>
                                
                                <p>
                                    <span class="fw-bold">
                                        สำนักพิมพ์:
                                    </span>
                                        {{ book.book_data[0].publisher }}<br>
                                    <span class="fw-bold">
                                        ผู้เขียน:
                                    </span>
                                    <template v-for="author in book.book_data[0].author">
                                        {{ author }}
                                    </template>
                                </p>
                                <p class="btn bg-warning">
                                    <span class="text-white">
                                        {{ parseInt(book.book_data[0].price) }} ฿
                                    </span>
                                </p>
                            </div>
                            <button class="btn btn-primary mt-auto mx-3" href="/">เพิ่มในตะกร้า</a>
                            <!-- Book Description -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Include -->
    <%- include("../partials/footer-partial.ejs") %>
    <!-- Footer Include -->

</body>
<!-- Vue Include -->
<%- include("../vues/owned-book-vue.ejs") %>
<!-- Vue Include -->
</html>