<!DOCTYPE html>
<html lang="en">
<!-- Head Tag Include -->
<%- include("../partials/head-tag-partial.ejs") %>
<!-- Head Tag Include -->

<!-- Header Include -->
<%- include("../partials/header-partial.ejs") %>
<!-- Header Include -->

<body class="d-flex flex-column min-vh-100">
    <div id="app">
        <div class="container self-font-family mb-5">
            <div class="row mt-5 bg-light rounded-pill">
                <!-- Collection -->
                <div class="col-12 d-flex justify-content-center p-5">
                    <div class="col-4 text-center border-end border-2 border-dark">
                        <p class="fs-1 fw-bold">0 <i class="fa-solid fa-book fa-sm"></i></p>
                        <p class="fs-3" >จำนวนหนังสือ</p>
                    </div>
                    <div class="col-4 text-center border-end border-2 border-dark">
                        <p class="fs-1 fw-bold"><%= userData.user_point %> <i class="fa-solid fa-star fa-sm"></i></p>
                        <p class="fs-3" >จำนวนดาวสะสม</p>   
                    </div>
                    <div class="col-4 text-center">
                        <p class="fs-1 fw-bold">0 <i class="fa-solid fa-star fa-sm"></i></p>
                        <p class="fs-3" >ประวัติการใช้ดาว</p> 
                    </div>
                </div>
                <!-- Collection -->
            </div>

            <!-- User Profile -->
            <div class="row">
                <div class="col-12">
                    <div class="p-5">
                        <div class="d-flex align-items-center">
                            <i class="fa-solid fa-circle-user fa-6x"></i>
                            <div class="px-5">
                                <p class="fs-2 fw-bold pt-3">
                                    <%= userData.name %> <%= userData.lastname %>
                                    <br>
                                    <span class="fs-4 fw-normal">
                                        <%= userData.id %>
                                        <span class="fs-2 fw-bold">
                                            /
                                        </span>
                                        <%= userData.email %>
                                    </span>
                                    
                                </p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between mt-5">
                            <p class="fs-4 fw-bold">ที่อยู่</p>
                            <a href="#">
                                <i class="fa-solid fa-pencil fa-2x text-dark"></i>
                            </a>  
                        </div>
                        <p class="fs-6"><%= userData.user_address %></p>    
                        <hr>
                        <a class="text-decoration-none" href="#">
                            <p class="fs-5 fw-bold text-dark">ชั้นหนังสือ</p>
                        </a>
                        <hr>
                        <a class="text-decoration-none" href="#">
                            <p class="fs-5 fw-bold text-dark">หนังสือที่ชอบ</p>
                        </a>
                        <hr>
                        <a class="text-decoration-none" href="/rewards">
                            <p class="fs-5 fw-bold text-dark">แลกของรางวัล</p>
                        </a>
                        <hr>
                        <a class="text-decoration-none" href="/history">
                            <p class="fs-5 fw-bold text-dark">ประวัติการแลกของรางวัล</p>
                        </a>
                        <hr>
                    </div>
                </div>
            </div>
            <!-- User Profile -->
        </div>
    </div>

    <!-- Footer Include -->
    <%- include("../partials/footer-partial.ejs") %>
    <!-- Footer Include -->

</body>
<!-- Vue Include -->

<%- include("../vues/profile-vue.ejs") %>
<!-- Vue Include -->
</html>